---
const target = 'https://biumiz.piki-and-co.com/inscription/confirmation-inscription/';
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content={`0; url=${target}`} />
  <link rel="canonical" href={target} />
  <title>Inscription a déménagé</title>
</head>
<body>
  <p>Cette page a déménagé. Si vous n'êtes pas redirigé automatiquement, <a href={target}>cliquez ici</a>.</p>
</body>
</html>
