---
import PikiCoLayout from '@/layouts/PikiCoLayout.astro';
---

<PikiCoLayout
		title="Participation confirmée"
		description="Votre participation à notre jeu concours a bien été prise en compte !"
		>

	<section class="section section--tinted" id="confirm-participation">
		<div class="container">
			<h2 class="section-heading-pikico">Merci pour votre participation à notre jeu concours !</span></h2>
			<p class="section-lead">
			Le tirage au sort aura lieu le 30 septemnbre 2026. Nous vous écrirons peu de temps après pour vous informer du lot que vous avez gagner et, le cas échéant, vous permettre de nous envoyer le dessin de votre enfant. 
			</p>
		</div>
	</section>
</PikiCoLayout>
